@import url('./top.css');
/* Detail popup window */
.task-details-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 800px;
  height: auto;
  background-color: var(--text-color-dark);
  color: var(--text-color-light);
  border-radius: 10px;
  z-index: 1000;
  display: flex;
  place-items: center;
  box-shadow: 0 0 1em var(--shadow-dark);
  padding: 1em;
}

@media screen and (max-width: 768px) {
  .task-details-content {
      height: 100vh;
      overflow: scroll;
  }
}
  
  .task-details-group {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .task-details-group-timing {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    border: 1px solid red;
  }
  
  .task-details-group-timing input {
    width: 50px;
  }
  
  .border-shadow {
    border: rgba(0, 0, 0, 0.54);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.54);
  }
  
  .border-shadow-sub {
    border: rgba(0, 0.82, 1, 0.54);
    border-radius: 15px;
    box-shadow: 1px 1px 2px rgba(24, 74, 172, 0.54);
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .border-shadow-sub input {
    padding-left: 5px;
    width: 80%;
  }
  
  .border-shadow:hover,
  .border-shadow-sub:hover {
    border: 1px solid var(--main-bg-dark);
    background: linear-gradient(to bottom right, #ffffff, #f0f0f0);
  }
  .dark-mode .border-shadow:hover, .dark-mode .border-shadow-sub:hover {
    border: 1px solid var(--main-bg-dark);
    background: linear-gradient(to bottom right, #0000006f, #0f0f0f6f);
  }
  
  .task-details-content {
    /* background-color: var(--text-color-dark); */
    color: var(--text-color-light);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px var(--shadow-light);
    width: 100%;
    height: auto;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  
  .task-details-content h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .task-details p {
    word-wrap: break-word;
    /* overflow-wrap: normal; */
  }
  
  .task-details-content .close-details-popup {
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
  }
  
  .task-details-content .close-details-popup:hover {
    opacity: 0.65;
    color: #e63946;
  }
  
  .task-details-content .task-details {
    margin-bottom: 20px;
  }
  
  .task-details-content label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .task-details-content input,
  .task-details-content textarea,
  .task-details-content select {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid var(--shadow-light);
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .task-details-content input:hover,
  .task-details-content textarea:hover,
  .task-details-content select:hover {
    border: 1px solid #9746c9;
    box-shadow: 2px 2px 2px #9746c9;
  }
  
  .task-details-popup textarea {
    max-width: 450px;
  }
  
  .detail {
    cursor: pointer;
    color: var(--text-color-dark);
    background: var(--main-bg-dark);
    border-radius: 50%;
    border: 1px solid var(--main-bg-dark);
  }
  
  .detail:hover {
    opacity: 0.75;
    color: var(--text-color-light);
    background: #fff;
    border-radius: 50%;
    border: none;
  }
  
  .task-details-due {
    display: flex;
    align-items: start;
    margin-top: 20px;
  }
  
  .task-details,
  .task-details-days {
    width: 40%;
  }
  #search {
    cursor: unset;
  }
  .toast {
    visibility: hidden;
    top: -60px;
    margin: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(45deg, #4394e7, #7d5ed2);
    color: var(--text-color-dark);
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 10;
    right: 0;
    font-size: 17px;
    transition: visibility 0.5s, opacity 0.5s linear;
    border-bottom: aliceblue 4px dotted;
  }
  
  .toast.show {
    visibility: visible;
    top: 0;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 3.5s;
  }
  
  @-webkit-keyframes fadein {
    from {
      top: -60px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
  
  @keyframes fadein {
    from {
      top: -60px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
  
  @-webkit-keyframes fadeout {
    from {
      top: 0;
      opacity: 1;
    }
    to {
      top: -60px;
      opacity: 0;
    }
  }
  
  @keyframes fadeout {
    from {
      top: 0;
      opacity: 1;
    }
    to {
      top: -60px;
      opacity: 0;
    }
  }
  .add-task,
  .btn,
  .checkbox,
  .ellipse,
  img#settings-icon,
  i#close-settings-popup,
  .task-icons > * {
    cursor: pointer;
  }
  
  .btn-detail:hover {
    background-color: #0056b3;
  }
  
  /* Chose days option */
  .day-checkboxes {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    flex-wrap: nowrap;
  }
  
  .day-checkboxes input[type="checkbox"],
  .day-checkboxes label {
    margin-right: 8px;
  }
  
  .content-inner {
    height: auto;
  }
  
  /* Setting popup styles */
  .settings-content {
    width: 100%;
    height: 400px;
  }
  
  .settings-content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .close-settings-icon {
    color: var(--text-color-light);
  }
  
  .close-settings-icon:hover {
    color: red;
  }
  
  .settings-content-top h2 {
    margin: 0 auto;
  }
  
  .settings-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 300px;
  }
  
  /* *************************************************************** */
  /* Tablet Styles - From 469px to 768px */
  /* *************************************************************** */
  @media (max-width: 768px) {
    .ellipse {
      display: none;
    }
  
    .aside {
      display: none;
      position: fixed;
      top: 10px;
      left: 10px;
      height: auto;
      background-color: rgba(255, 255, 255, 0.9);
      z-index: 1000;
    }

    .dark-mode .aside{
      background: linear-gradient(90deg, #2c153b, #312c30f2, #00000000);
    }
  
    .menu-btn {
      display: inline-block;
      position: fixed;
      top: 10px;
      left: 25px;
      z-index: 2000;
    }
  
    .nav,
    .content,
    .footer {
      border-radius: 0;
    }
  
    .container {
      grid-template-areas:
        "nav nav"
        "content content"
        "content content"
        "footer footer";
      grid-template-columns: 100%;
      grid-template-rows: auto;
      gap: 0;
      margin: 0 auto;
    }
  
    .date {
      font-size: 18px;
      font-weight: 500;
    }
  
    .navbtn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  
    .btn-day,
    .btn-month,
    .btn-year {
      font-weight: 400;
      width: 120px;
      height: 30px;
      padding-top: 5px;
      margin-top: 15px;
      margin-bottom: 15px;
      font-size: 15px;
    }
  
    .navbar-top {
      justify-content: center;
      align-items: center;
      gap: 30px;
    }
  
    .date {
      font-size: 25px;
      margin-left: 5px;
    }
  
    .btn-save,
    .btn-mode-switch {
      width: 55px;
      height: 30px;
      padding: 2px;
      font-size: 18px;
    }
  
    .navbtn {
      gap: 30px;
    }
  
    .undo {
      justify-content: center;
      margin-right: 5px;
    }
    .category-name {
      margin-left: 30px;
    }
  }
  
  /* *************************************************************** */
  /* Mobile Styles -from 0 to 468px*/
  /* *************************************************************** */
  @media (max-width: 468px) and (max-height: 914px),
    (max-width: 914px) and (max-height: 468px) {
    .container {
      grid-template-areas:
        "nav"
        "content"
        "content"
        "footer";
      grid-template-columns: 100%;
      grid-template-rows: auto;
      gap: 0;
      margin: 0 auto;
    }
  
    .content-search {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .search input {
      width: 200px;
      height: 2.1rem;
      font-size: 1rem;
      border-radius: 30px;
      padding: 5px;
    }
  
    .content-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px;
      height: auto;
      border: rgba(0, 0, 0, 0.54);
      border-radius: 1px;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.54);
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .content-task {
      display: flex;
      justify-content: start;
      align-items: start;
      font-size: 1rem;
    }
  
    .content-task h3 {
      margin-top: 5px;
      /* margin-right auto pushes the "+" icon all the way to the right */
      margin-right: auto;
    }
  
    .content-description {
      margin-top: 5px;
    }
  
    .task-name {
      font-size: 1rem;
    }
  
    .btn-lite {
      width: 60px;
      height: 2rem;
      font-size: 1rem;
    }
  
    .aside {
      display: none;
      position: fixed;
      top: 0;
      left: 10px;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.9);
      z-index: 1000;
      overflow-y: auto;
    }
  
    .menu-btn {
      display: fixed;
      top: 15px;
      left: 25px;
      z-index: 2000;
    }
  
    .show-aside {
      display: block;
    }
  
    nav,
    aside,
    content,
    footer {
      border: none;
      border-radius: 0;
    }
  
    .btn-day,
    .btn-month,
    .btn-year {
      font-weight: 400;
      width: 120px;
      height: 30px;
      padding-top: 5px;
      margin-top: 15px;
      margin-bottom: 15px;
      font-size: 1rem;
    }
  
    .navbar-top {
      justify-content: space-between;
      margin-left: 80px;
    }
  
    .date {
      font-size: 0.9rem;
      font-weight: 500;
      margin-top: 5px;
    }
  
    .btn-save,
    .btn-mode-switch {
      width: 55px;
      height: 30px;
      font-size: 18px;
    }
  
    .navbtn {
      gap: 30px;
    }
  
    .undo {
      justify-content: center;
      margin-right: 5px;
    }
  
    .category-name {
      margin-left: 10px;
      margin-top: 30px;
    }
  
    /* Popup mobile */
    .task-details-popup {
      max-width: 400px;
      flex-direction: column;
      overflow: auto;
      height: 100%;
    }
  
    .task-details-content {
      font-size: 1rem;
    }
  
    .task-details-content {
      margin-top: 60px;
    }
  
    .day-checkboxes {
      flex-wrap: wrap;
    }
  
    .checkbox-container {
      display: flex;
      align-items: center;
      margin-right: 20px;
    }
  
    .footer-right {
      display: none;
    }
  }
  
  /* Dark Mode */
  .dark-mode aside,
  .dark-mode div.content-inner {
    background: #9746c93b;
    color: #eee;
  }
  @media screen and (max-width: 768px) {
    .dark-mode aside {
      display: none;
    }
  }
  
  .dark-mode .date{
      color: var(--text-color-dark);
  }
  .dark-mode i:not(i.fa-solid.fa-circle-half-stroke) {
    color: var(--text-color-dark);
  }
  
  .dark-mode img#settings-icon,
  .dark-mode div.content-inner img {
    filter: invert(1);
  }
  
  .dark-mode .complete,
  .dark-mode i#close-settings-popup {
    color: var(--text-color-dark);
  }
  
  .dark-mode .ellipse {
    filter: brightness(0.1) saturate(100);
  }
  
  .dark-mode a.btn:not(.active, .priority) {
    background: hsl(277 22% 10%);
  }
  
  .dark-mode input {
    background: transparent;
    color: var(--text-color-dark);
  }
  
  .dark-mode .task-details-popup {
    background: linear-gradient(45deg, #4a3756fa, #201a29eb);
  }
  
  
  .dark-mode select {
    background: #8500ff1c;
    color: var(--text-color-dark);
  }
  
  .dark-mode h2,
  .dark-mode label {
    color: var(--text-color-dark);
  }
  
  .dark-mode h3,
  .dark-mode h4,
  .dark-mode p {
    color: var(--text-color-dark);
  }
  
  .dark-mode .task-details-popup {
    background: linear-gradient(45deg, #4a3756fa, #201a29eb);
  }
  
  .dark-mode .task-details-popup > h2 {
    color: var(--text-color-dark);
  }
  
  .dark-mode select {
    background: #8500ff1c;
    color: var(--text-color-dark);
  }
  
  .dark-mode h2,
  .dark-mode label {
    color: var(--text-color-dark);
  }
  
  .dark-mode .footer {
    background: linear-gradient(45deg, #802dee8c, #41115fd9);
  }
  
  .dark-mode h3,
  .dark-mode h4,
  .dark-mode p {
    color: var(--text-color-dark);
  }
  
  
  .dark-mode input, .dark-mode select, .dark-mode textarea, .dark-mode option, .dark-mode  {
    background: #421769ba;
    color: var(--text-color-dark);
    color-scheme: dark;
  }
  
  
  .dark-mode input#search::placeholder {
    color-scheme: dark;
    color: white;
  }
  