* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    background: #f4f4f4;
}

header {
    background: #1e3799;
    color: white;
    padding: 1rem;
    text-align: center;
}

h1 {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

/* Nav Bar */
nav {
    background-color: #2980b9;
    padding: 1rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav li {
    margin: 0;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Main */
main {
    padding: 20px;
}

/* calendar */
.daily-activities,
.monthly-calendar {
    width: 48%;
    box-sizing: border-box;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.day {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

/* Footer */
footer {
    background: #1e3799;
    color: white;
    text-align: center;
    padding: 1rem;
}
